/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* basic utility */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 3% 0;
}
.nav-item-1 ul{
    display: flex;
}
.nav-item-1 ul li{
    list-style: none;
    margin-right: 36px;
}
.nav-item-1 ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
.responsive-bar{
    display: none;
}
.linked-btn{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 5px;
    margin-top: 3%;
}
.linked-btn:hover{
    background-color: #E02C1A;
    transition: 0.5s all ease-in-out;
    transform: scale(1.1);
}
.header-bg{
    background-color: #2D25A0;
    width: 100%;
}
.heading{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
}
.header-items-1{
    margin-left: 6%;
}
.header-items-1 > h1{
    font-size: 64px;
    color: #FFFFFF;
}
.header-items-2 > img{
    width: 556px;
    height: 438px;
}
.header-items-2 > img:hover{
    transform: scale(1.2);
    transition: 0.75s all ease-in-out;
}

.players{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10%;
    margin-top: 3%;
}
.player{
    width: 330px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    padding: 15px;
    overflow: hidden;
    margin: 3%;
}
.player > h3{
    font-size: 28px;
    font-weight: 700;
}
.player > p{
    font-size: 16px;
    font-weight: normal;
    color: #6C6C6C;
}
.player > img{
    width: 300px;
    height: 256px;
    margin: 15px;
}

.highlight{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.highlight-item{
    width: 40%;
}
.highlight-item > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.highlight-item > h1{
    color: black;
    font-weight: 700;
    font-size: 60px;
}
.highlight-item > p{
    color: #6C6C6C;
    font-size: 16px;
}
fieldset{
    background-color: #2D25A0;
    width: 60%;
    margin: 5% 20%;
    box-shadow: 2px 2px 100px #F2F2F2;
    border-radius: 2%;
}
.voting{
    text-align: center;
}
.voting label{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.voting{
    font-size: 35px;
    font-weight: 700;
}
.voting legend{
    color: tomato;
    text-shadow: 2px 2px #ff0000;
    font-size: 35px;
}
.voting input[type=submit]{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 5px;
    margin-top: 3%;
    border: none;
}
.voting input[type=submit]:hover{
    transform: scale(1.1);
    transition: 0.5s all ease;
}
.blogs{
    margin: 10% 0;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 100px #E8E8E8;
}
.blog{
    width: 30%; 
    margin: 0 5%;
    padding: 15px;
    box-shadow: 10px 10px 40px grey;

}
.blog img{
    width: 100%;
}
.blog h3{
    text-align: center;
    color: #6C6C6C;
}

.footer{
    margin: 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-item{
    width: 25%;
    text-align: center;
}
.fa{
    font-size: 20px;
    width: 20px;
    padding: 3%;
    margin: 0 3%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-youtube{
    background: #C94444;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram{
    background: #4178A0;
    color: white;
}
.footer-item > img{
    width: 100%;
    height: 100%;
}
.footer-item > p{
    font-size: 18px;
    color: #000000;
}


/* Media Qureies */

@media only screen and (max-width:688px) {

    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .nav-item-2{
        margin-right: 15px;
    }
    .responsive-bar{
        display: inline-block;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        margin-left: 15px;
    }
    #check{
        display: none;
    }
    .nav-item-1{
        display: none;
    }

    .players{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10%;
        margin-top: 3%;
    }
    .player{
        margin: 12px 7.5px;
    }
    .heading{
        display: flex;
        flex-direction: column;
        padding-bottom: 2%;
    }
    .header-items-1{
        margin-left: 6%;
        margin-bottom: 6%;
    }
    .header-items-1 > h1{
        font-size: 64px;
        color: #FFFFFF;
    }
    .header-items-2 > img{
        width: 329px;
        height: 269px;
    }
    .highlight{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
    }
    .highlight-item{
        width: 100%;
        margin-left: 12px;
    }
    .highlight-item > img{
        width: 328px;
        height: 248px;
        border-radius: 10px;
        margin: 10px;
    }
    .highlight-item > h1{
        color: #0A0826;
        font-weight: 700;
        font-size: 30px;
    }
    fieldset{
        width: 80%;
        margin: 10px;
    }
    .blogs{
        display: flex;
        flex-direction: column;
    }
    .blog{
        width: 300px;
        margin: 10px 25px;
    }
    .footer{
        margin: 4% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-item{
        width: 60%;
        text-align: center;
    }
}